<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-simple-table fixed-header>
          <template v-slot:default>
						<thead>
							<tr>
								<th class="text-left">№</th>
								<th class="text-left">Cериал</th>
                <th class="text-left">Сезон</th>
                 <th class="text-left">Серия</th>
							</tr>
						</thead>
						<tbody >
							<tr v-for="item in buff" :key="item.name">
								<td>
									{{item.id}}
								</td>
                <td>
									{{item.name}}
								</td>
                
                <td>
									{{item.seasons}}
								</td>
						</tr>
						</tbody>
					</template>
        </v-simple-table>

      </v-content>
    </v-app>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {


          buff: [{
              "id": 1,
              "name": "Побег",
              "seasons": [{
                "episodes": [{
                  "id": 11,
                  "name": "Пилот",
                  "number": 1
                }, {
                  "id": 12,
                  "name": "Чудо",
                  "number": 2
                }],
                "id": 2,
                "number": 1
              }, {
                "episodes": [{
                  "id": 45,
                  "name": "враг мой",
                  "number": 1
                }, {
                  "id": 757,
                  "name": " Эшби",
                  "number": 2
                }, ],
                "id": 3,
                "number": 2
              }, {
                "episodes": [{
                  "id": 17433,
                  "name": "Левон",
                  "number": 1
                }, {
                  "id": 17466,
                  "name": "Благодать",
                  "number": 12
                }],
                "id": 882,
                "number": 7
              }]
            },
            {
              "id": 1,
              "name": "Забег",
              "seasons": [{
                "episodes": [{
                  "id": 11,
                  "name": "отлёт",
                  "number": 1
                }, {
                  "id": 12,
                  "name": "юдо",
                  "number": 2
                }],
                "id": 2,
                "number": 1
              }, {
                "episodes": [{
                  "id": 45,
                  "name": "враг ",
                  "number": 1
                }, {
                  "id": 33,
                  "name": " Старт",
                  "number": 2
                }, ],
                "id": 3,
                "number": 2
              }, {
                "episodes": [{
                  "id": 54,
                  "name": "Первый",
                  "number": 1
                }, {
                  "id": 111,
                  "name": "Конец",
                  "number": 12
                }],
                "id": 43,
                "number": 7
              }]
            },
          ]


        };
      },


    })
  </script>
</body>

</html>